<div ng-controller="UserController" class="container" ng-init="getUserProfile()">
  <h1>User</h1>
  <div class="profile">
    
  {{user.data.username}}
  </div>
  <br>
  <br>

  <div class="profileCategories">
  <label for="repeatSelect"> Choose categories: </label><br>
  <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
    <option value="">---Please select---</option> <!-- not selected / blank option -->
    <option ng-repeat="option in user.data.categories" value="{{option}}">
  </select><br>
  <button ng-click="addCategoriesToUser()">Add category</button><br>
  <tt>repeatSelect = {{data.repeatSelect}}</tt>

  {{user.data.categories}}
  

  </div>

</div>

