<div ng-controller="UserController" class="container" ng-init="getUserProfile()">
  <h1>User</h1>
  <div class="profile">
    
  {{user.data.username}}
  </div>
  <br>
  <br>

  <div class="profileCategories">
  <label for="repeatSelect"> Choose categories: </label><br>
  <select name="repeatSelect" id="repeatSelect" ng-model="selectedCategory">
    <option value="">---Please select---</option> <!-- not selected / blank option -->
    <option ng-repeat="option in categories.data" value="{{option.name}}">
    {{option.name}}
  </select><br>
  <button ng-click="addCategoriesToUser()">Add category</button><br>
  <tt>Selected = {{selectedCategory}}</tt><br>

  {{user.data.categories}}
  

  </div>

</div>

